$primary-background: rgb(255, 255, 255);
$gameplay-background: rgb(233, 233, 233);
$window-background: rgb(255, 255, 255);
$window-top-bar-color: rgb(255, 255, 255);

body {
  background: $primary-background;
}

.image-contrast {
  filter: contrast(150%);
  // filter: grayscale(100%) contrast(400%);
}
