@font-face {
  font-family: "Gameplay";
  src: url("/fonts/Gameplay.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Advercase";
  src: url("/fonts/advercaseFont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CallingCode";
  src: url("/fonts/CallingCode-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Higher";
  src: url("/fonts/higher_2/Higher.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DS-Digital";
  src: url("/fonts/ds_digital/DS-DIGIB.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arcade-Ya";
  src: url("/fonts/arcade_ya/ARCADE_N.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
