@forward "./sizes";
@forward "./colors";
@forward "./fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  height: 100dvh;
  overflow: hidden;
  line-height: 1.6;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: CallingCode;
}

a {
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
  background: transparent;
  border: none;

  font-family: CallingCode;
}

a,
button {
  color: var(--secondary);
  padding: 0;
}
